[Unit]
Description=etcd local

[Service]
User=etcd
PermissionsStartOnly=true
ExecStartPre=/bin/systemctl kill etcd.service
ExecStartPre=/usr/bin/etcd-pre-exec
ExecStart=/usr/bin/etcd -d /var/lib/etcd -f -cl 0.0.0.0

Restart=always
# Set a longish timeout in case this machine isn't behaving
# nicely and bothering the rest of the cluster
RestartSec=10s

[Install]
WantedBy=local.target
